{% extends "core/base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}

{% block content %}
<h1 class="my-4">{% block title %}{% endblock %}</h1>
<form method="post">
  {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {% bootstrap_field field show_help=False show_errors=False %}
        {% for error in field.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
        {% endfor %}
        {% if field.help_text %}
            <div class="form-text">{{ field.help_text }}</div>
        {% endif %}
      </div>
    {% endfor %}
  <input class="btn btn-primary" type="submit" value="{% block submit_label %}{% endblock %}" />
</form>
{% endblock %}
